.header {
    background: #1a4c76;
}
.header-logo {
    width: 120px;
    height: 70px;
    object-fit: cover;
}
.icon i {
    font-size: 50px;
    margin-left: 50px;
}
.first-details {
    font-size: 12px;
}
.second-details {
    font-size: 20px;
    color: white;
}